.Select-control {
    background-color: transparent !important;
    border: none !important;
    margin-right: 12px !important;
    width: 180px !important;
}

.Select-control:hover {
    box-shadow: none !important;
}

.is-focused:not(.is-open) > .Select-control {
    border: none !important;
    box-shadow: none !important;
}

.Select-value {
    padding: 0 !important;
}

.Select-value-label {
    font-size: 30px;
}