/** global styles **/
.clickable:hover {
  cursor:pointer;
}
h1, h2, h3, h4, h5 {
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

html, body {
  margin: 0;
  height: 100vh;
  background-color: #EFF0F1;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #75c9d3
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
